.op{
	width: 100%;
	height: 90px;
	display: inline-block;
	margin-top: 15px;
	background-color: #0d47a1;
}

/*body{
 background: linear-gradient(to right, #0d6efd, white);
}*/




html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 80px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
 
}

